/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50px 1fr 50px;
    padding: 40px;
}

nav{
    grid-area: nav;
    display: grid;
    padding-right: 40px;
}

.menu-container{
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: 180px 1fr 180px;
    border-radius: 40px;
    overflow: hidden;
}

.icon{
    background-color: blue;
}

.menu{
    background-color: brown;
}

.guide{
    background-color: crimson;
}

header{
    background-color: salmon;
    grid-area: header;
    display: grid;
    place-items: end;
}

.avatar-container{
    background-color: palevioletred;
    height: 100%;
    width: 210px;
}

main{
    background-color: sandybrown;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "title title"
        "cards cards"
        "graphic posts";
    grid-template-rows: 70px 1fr 2fr;
    grid-template-columns: 1fr 400px;
}

.title-container{
    grid-area: title;
    background-color: purple;
}

.cards-container{
    grid-area: cards;
    background-color: rgb(43, 144, 226);
}

.graphic-container{
    grid-area: graphic;
    background-color: firebrick;
}

.posts-container{
    grid-area: posts;
    background-color: darkviolet;
}

footer{
    background-color: tomato;
    grid-area: footer;
}